<%= form_with model: [@inventory, @location] do |location_form| %>
  <div class="flex flex-col gap-6">
    <%= location_form.text_field :name, placeholder: "Name", class: "border-x-0 border-t-0 border-b focus:ring-0 focus:bg-zinc-100" %>
    <%= location_form.text_field :address, placeholder: "Address", class: "border-x-0 border-t-0 border-b focus:ring-0 focus:bg-zinc-100" %>
    <%= location_form.text_field :city, placeholder: "City", class: "border-x-0 border-t-0 border-b focus:ring-0 focus:bg-zinc-100" %>
    <%= location_form.text_field :country, placeholder: "Country", class: "border-x-0 border-t-0 border-b focus:ring-0 focus:bg-zinc-100" %>
  </div>

  <div class="flex items-center px-4 mt-8 text-white bg-black rounded cursor-pointer w-fit h-14">
    <%= location_form.submit nil, class: "cursor-pointer" %>
  </div>
<% end %>


