<!DOCTYPE html>
<html>
  <head>
    <title>ShopifyBackendChallenge2022</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link href='https://fonts.gstatic.com' rel='preconnect' crossorigin>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
